<h2>{{playerName}}</h2>

<p>Shot Attempts: {{shotAttempts}}</p>
<p>Shots Made: {{shotsMade}}</p>
<p>Shot Percentage: {{shotPercentage}}</p>

<button class="btn btn-primary" {{action 'made'}}>Made it!</button>
<button class="btn btn-warning" {{action 'missed'}}>BRICK!</button>
